[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "Dire"]
	path = Dire
	url = https://github.com/american-institutes-for-research/dire
	shallow = true
	registered = true
[submodule "EdSurvey"]
	path = EdSurvey
	url = https://github.com/american-institutes-for-research/edsurvey
	shallow = true
	registered = true
[submodule "wCorr"]
	path = wCorr
	url = https://github.com/american-institutes-for-research/wcorr
	shallow = true
	registered = true
[submodule "WeMix"]
	path = WeMix
	url = https://github.com/american-institutes-for-research/wemix
	shallow = true
	registered = true
